The White River Valley Players Present 2026 Harvest Fair

https://www.wrvpharvestfair.org



User Requirements

I want a new "Harvest Fair" page/tab added to the WRVP website, with these proposed sections:

Intro blurb — a short history of the fair, a photo, an invitation to volunteer, and her contact info.
Signup invitation — text inviting vendors to sign up for a booth, offering two options: print and mail the PDF form with a check, or sign up and reserve a spot online.
Online form — either a link to the form or an embedded version, including a payment option (she's unsure if Venmo can be supported).
Confirmation message — shown after the form and payment are submitted successfully.


I need to create a community event website for a the Harvest Fair 2026 organized by the White River Valley Players (WRVP). The website will be hosted at https://www.wrpvharvestfair.org.



Functional Requirements
1. The website should allow users to Register as Vendors or Volunteers using an expandable navigation bar menu option
2. When they go to the registration form, they should be able to download the pdf of the same form -- this pdf will be provided to you. So, they are able to either register electronically or download the form as pdf and submit it manually.
3. The donate button should be in two places, the navigation bar and the page after registration submission. The donate button should redirect the user to the wrvp website's donation page found at: https://wrvp.org/donate
4. The website should have a collection of harvest fair pictures slides that keep changing horizontally, and a large font announcement of the harvest fair. The brochure for this is provided in the images folder.
5. The website should also have a contact us form where users can reach out
6. The website should laso have News Links from past harvest fairs.


Non-Functional Requirements
1. The website should be hosted at a place that allows for receiving submitted form information on email as a pdf
2. The contact us page should be attached to the same email address at which the submitted forms are received. The email is cameagher21@gmail.com
3. The website should be hosted to a hosting server you'd recommend.

1. Donate button
2. Sign Up as Vendor or Volunteer
3. FAQs
4. News Links
5. Contact Us



I need you to make the following changes to the website:

1. Vendor Signup Page:

Since the sign up period is done, we want this page to show the message below: 

"Thank you very much for your interest in being a vendor for the 37th annual Harvest Fair. Unfortunately, vendor registration has closed at this time. We encourage you to come back and sign up for a booth next year - always the Saturday after Labor Day!

There is still opportunity to participate as a volunteer in this year's Harvest Fair. Please reach out to wrvp.harvestfair@gmail.com if you have any interest in helping with set up or tear down before and after the event. 

You should not delete the sign up page. Keep it for next year, but replace it with a new page that has the above information.



2. Photo Competition
Add a "Photo Competition" category in the nav bar: You should high the News Category page for now so that "Photo Competition" goes in its place.

On that new Photo Competition page, there should be an introduction blurb (written below) and a super easy form that collects their Name, Phone Number and Email, and then allows for the upload of MAXIMUM 3 high resolution jpeg photos. You can also add an optional Caption option so that the users share their thought about the photo.  I would love to have high quality, so I don't necessarily want to put a limit on the size. Each uploaded photo should be labeled with the person's name followed by the photo number (e.g ChristineMeagher_1, ChristineMeagher_2, etc). This form should be submitted to wrvp.harvestfair@gmail.com. If the photos can't be shared directly as attachements on gmail, you can upload them somewhere and simply share a link where they can be downloaded directly without requiring authentication.

This page should have the following introductoin information:
"We’re excited to see what you loved about this year’s Harvest Fair!

To participate in this year’s photo competition, please submit 1–3 photos taken at the Harvest Fair. We’d love to see photos that capture fair activities, the fair setup, and people enjoying and participating in the festivities. From close-ups to wide-angle shots, we want to see it all!

Ready to enter? Upload your photos using the form below. 

The competition will close September 20th and the winner will be announced October 1st. Please note that photos submitted to the competition may be used to promote future WRVP Harvest Fairs. Any information you provide (name, phone number, and email address) will only be used to contact the competition winner. "